*.swp
*.swo
*.o
*.d
*.pyc
*.orig
.cproject
.project
jake.txt
temp.txt
test.txt
log.txt
error.txt
warning.txt
console.txt
tags
core
les_test
les_test.exe
Session.vim
stringTableLittle.bin
stringTableBig.bin
testLittle.bin
testBig.bin
chunkTest.bin
typeDataLittle.bin
defTest.bin
